.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

ul.tweet-list li {
	list-style: none;
	margin-left: -40px;
	margin-top: 5px;
  	margin-bottom: 10px;
  	border-bottom: 1px solid #e1e8ed;
  	cursor: pointer;
}
ul.tweet-list p {
	margin-left: 60px;
}
ul.tweet-list .tweet-header a{
	  margin-left: 10px;
}
ul.tweet-list .tweet-header img.avatar {
	float: left;
	width: 48px;
  	height: 48px;
  	border-radius: 5px;
}
ul.tweet-list .tweet-header .retweet {
	margin-right: 5px;
}

ul.tweet-list .tweet-footer label{
	margin-left: 5px;
}

.app #container {
	position: relative;
}

.app .navbar-inverse{
	background-color: #555;
  	border-color: #555;
}

.app .jumbotron {
	  margin-top: 60px;
}

.app .jumbotron h1 {
	font-weight: bold;	
	text-align: center;
	color: #eee;
	text-shadow: 0px 2px 2px #555;
}

.app div.tweets {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.app div.tweets .input-group {
	margin-top: 15px;
}

.app div.tweets .input-group button {
	margin-top: -1px;
}

.app div.tweets section {
	max-height: 800px;
  	overflow-y: scroll;
  	margin-top: 50px;
}

.app div.tweets:hover {
	-webkit-box-shadow: 0px 2px 25px #ededed;
	-moz-box-shadow: 0px 2px 25px #ededed;
	box-shadow:0px 2px 25px #ededed;
	background-color: #ededed;
}

.app #settings {
	position: absolute;
  	right: 0;
  	top: 52px;
  	z-index: 999;
  	display: none;
}