<nav class="navbar navbar-inverse">
  		<a class="navbar-brand" href="#">Tripple Tweet</a>
  		 <a class="navbar-brand pull-right config" href="#">
        	<span class="glyphicon glyphicon glyphicon glyphicon-cog"></span>
      	</a>
</nav>
<aside id="settings">
      <!-- Layout configuration -->
</aside>